body {
    font-family: 'Noto Serif KR', sans-serif;
    background-color: #f7f7f7;
    color: #333;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: white;
    padding: 15px 0;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1500px;
    margin: 0 auto;
    padding: 0 20px;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li {
    margin: 0 10px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 13px;
    justify-content: center;
}

nav .title {
    position: absolute;
    font-size: 24px;
    left: 50%;
    transform: translateX(-50%);
}

a {
    text-decoration: none;
    color: white;
}

nav a:hover {
    color: #ddd;
}

.container {
    max-width: 1100px; /* increased max-width */
    margin: auto;
    padding: 20px;
}

.header {
    display: flex;
    align-items: center;
}

img {
    height: 30px;
    margin-right: 10px;
}

header h1 {
    margin: 0;
}

input, select {
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border: 1px solid #ccc;
    box-sizing: border-box;
}

button {
    background-color: #444;
    color: #fff;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 3px;
    width: 100%;
    margin-top: 10px;
}

button:hover {
    background-color: #555;
}

.weekdays {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
}

.weekdays button {
    background-color: #444;
    color: #fff;
    border: none;
    border-radius: 0%;
    padding: 10px 20px;
    cursor: pointer;
}

.weekdays button:hover {
    background-color: #555;
}

.content {
    display: flex;
    justify-content: space-between;
}

#routine-form, #routine-list-container {
    width: 48%; /* slightly increased width */
}

#routine-list-container {
    display: flex;
    flex-direction: column;
}

#routine-list {
    flex-grow: 1;
    margin-bottom: 10px;
}

#routine-list li {
    cursor: pointer;
    padding: 5px;
    border-bottom: 1px solid #ccc;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#routine-list li:hover, #routine-list li.selected {
    background-color: #e0e0e0;
}

#routine-list li.expanded span {
    white-space: normal;
    overflow: visible;
}

#routine-list .move-controls {
    display: flex;
    align-items: center;
    justify-content: center; /* centered alignment */
    gap: 10px; /* space between select and button */
}

#routine-list select.move-select {
    width: 150px; /* fixed width */
}

#routine-list button.move-button {
    width: 70px; /* fixed width */
}

.buttons {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

#custom-exercise {
    margin-bottom: 10px;
}

#routine-list span {
    flex: 1;
    text-align: left; /* ensure text is left-aligned */
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
